---
intro: >
  Where I clone repositories, dig through code, and learn ... things.
socialMediaLinks:
  - link: https://twitter.com/rlittlesii
    title: Twitter (rlittlesii)
    class: icon brands fa-twitter
  - link: https://github.com/rlittlesii
    title: GitHub (rlittlesii)
    class: fa fa-github
  - link: https://keybase.io/rlittlesii
    title: Keybase (rlittlesii)
    class: fa fa-key
  - link: https://www.linkedin.com/in/rodney-littles-ii-0a2b621/
    title: LinkedIn
    class: fa fa-linkedin
---

<section class="wrapper style2">
    <div class="inner">
            <div class="inner">
                <section class="features">
                {{#each posts}}
                    <article>
                        <div class="content">
                            <h3 class="major">{{title}}</h3>
                            <p>Posted on {{date}}</p>
                            <p>{{{excerpt}}}</p>
                            <a href="{{link}}" class="special">Read more</a>
                        </div>
                    </article>
                {{/each}}
                </section>
    </div>
    <div class="4u 12u$(medium)">

        <h5>Tags</h5>
        <ul class="actions">
            {{#each tags}}
            <li><a role="button" href="{{link}}" class="button">{{title}} ({{count}})</a></li>
            {{/each}}
        </ul>
        <ul class="actions small">
            <li><a href="/tags" class="button small">View All Tags &rarr;</a></li>
        </ul>

        <ul class="actions small">
            <li><a href="/posts" class="button small">Archive &rarr;</a></li>
        </ul>

        <hr />
        <h5>The Internets</h5>
        <ul class="contact">
            {{#each socialMediaLinks}}
            <li class="{{class}}"><a href="{{link}}"> {{title}}</a></li>
            {{/each}}
        </ul>
    </div>
</section>