---
intro: >
  Where I clone repositories, dig through code, and learn ... things.
socialMediaLinks:
  - link: https://twitter.com/rlittlesii
    title: Twitter (rlittlesii)
    class: icon brands fa-twitter
  - link: https://github.com/rlittlesii
    title: GitHub (rlittlesii)
    class: icon brands fa-twitter
  - link: https://keybase.io/rlittlesii
    title: Keybase (rlittlesii)
    class: fa fa-key
  - link: https://www.linkedin.com/in/rodney-littles-ii-0a2b621/
    title: LinkedIn
    class: fa fa-linkedin
---

<section class="wrapper style2">
    <div class="inner">
        <section class="features">
        {{#each posts}}
            <article>
                <div class="content">
                    <h3 class="major">{{title}}</h3>
                    <p>Posted on {{date}}</p>
                    <p>{{{excerpt}}}</p>
                    <a href="{{link}}" class="special">Read</a>
                </div>
            </article>
        {{/each}}
        </section>
    </div>
    <section class="wrapper alt style3">
        <div class="inner">
            <h5 class="major">Tags</h5>
            <div>
                {{#each tags}}
                <a href="{{link}}" role="button" class="button small">{{title}} ({{count}})</a>
                {{/each}}
            </div>
            <br />
            <ul class="actions">
                <li><a href="/tags" class="button small">View All Tags &rarr;</a></li>
            </ul>
        </div>
    </section>
    <section class="wrapper style1">
        <div class="inner">
            <h5 class="major">Older Posts</h5>
            <ul>
                {{#each olderPosts}}
                <li><a href="{{link}}">{{title}}</a></li>
                {{/each}}
            </ul>
            <ul class="actions">
                <li><a href="/posts" class="button">Archive &rarr;</a></li>
            </ul>
        </div>
    </section>

</section>